.helloText {
  font-size: 18px !important;
  line-height: 30px !important;
  /* letter-spacing: 1px; */
  color: #002425;
  margin-top: 50px;
  margin-bottom: 50px;
}

.personalPresentation {
  margin-top: 20rem;
  margin-bottom: 20rem;
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  /* background-color: antiquewhite; */
}

.Section1Home1 {
  
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}



.textPersonalSection {
  
  text-align: center;
}

/* ------------------------         About us  >>      ------------------------------- */

.aboutUs_div_padre {
    margin-bottom: 20rem;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    /* background-color: antiquewhite; */
    flex-wrap: wrap; 
  }
  
  .aboutUs_div_hijo {
    width: 30%;
    text-align: center;
    padding: 30px;
    /* border: #010220 1px solid; */
    border-radius: 10px 0px;
    /* background-color: aquamarine; */
  }
  .aboutUs_div_hijo p {
    font-size: 14px !important;
  }

  @media (max-width: 1200px) {
    .aboutUs_div_hijo {
        text-align: center;
        width: 50% !important;
        /* background-color: rgb(65, 250, 65); */

      }
  }
  
  @media (max-width: 650px) {
    .aboutUs_div_padre {
      flex-direction: column; 
      align-items: center;

    }
    .aboutUs_div_hijo {
      width: 100% !important;
      padding: 0;
      /* background-color: rgb(178, 212, 53); */
    }
  }
  

/* ----------------------------------------------------------------------------------------- */

.profilePicture {
  margin-top: 1rem;
  margin-bottom: 3rem;
  
  
  border-radius: 10%;
  background-color: rgba(255, 255, 255);
  opacity: 1;
  margin-left: 2px ;
  margin-right: 2px ;

}

.hidden {
  visibility: hidden;
}

.images_div{
 display: flex;
 justify-content: center;
 gap: 70px;
}

/*   --------------------      texto   \/   -------------------------------- */

.scrollAnimation {
  view-timeline-name: --reveal;
  animation-name: show;
  animation-fill-mode: both;
  animation-timeline: --reveal;
}

.blur-in-expand {
  animation: blur-in-expand 0.5s linear both;
}
@keyframes blur-in-expand {
  0% {
    transform: scale(0);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0.8;
    scale: 70%;
  }
  30% {
    opacity: 1;
    scale: 100%;
  }
  70% {
    opacity: 1;
    scale: 100%;
  }
  100% {
    opacity: 0;
    scale: 100%;
  }
}

@media (width <= 768px) {
  .personalPresentation {
    margin-top: 9rem;
    margin-bottom: 9rem;
  }
}
@media (width <= 450px) {
  .scrollAnimation {
    animation-name: none;
  }
  .personalPresentation {
    margin-top: 12rem;
    margin-bottom: 6rem;
  }
}

/*   --------------------      texto   /\   -------------------------------- */

/* .letsTalk {
  font-size: 40px !important;
  letter-spacing: 1px;
  margin-bottom: 3rem !important;
  color: var(--color1);
} */

/*   --------------------      boton   \/   -------------------------------- */

.email-button {
  background-color: #010220;
  color: var(--white) !important;
  padding: 14px 5vw;
  text-decoration: none !important;
  border-radius: 30px 2px;
  display: inline;
  margin-top: 5rem;
  font-weight: bold;
  transition: 0.3s ease;
}

.email-button:hover {
  transition: "background-color color 0.3s ease";
  font-weight: bolder !important;

  background-color: #001415;
  color: var(--white) !important;
}
/*   --------------------      boton   /\   -------------------------------- */
